@charset 'utf-8';
$color:#171a21;
body {
    background-color: #1b2838;
    color: #c6d4df;
    a:focus {
        background-color: transparent !important;
    }
}

header {
    background-color: $color;
    min-width: 940px;
    font-size: 14px;
    font-family: "Motiva Sans", Sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    color: #b8b6b4;
    a {
        color: #bfbfbf;
    }
    .content {
        position: relative;

        width: 940px;
        height: 104px;
        margin-left: auto;
        margin-right: auto;
        .logo {
            float: left;
            padding-top: 30px;
            margin-right: 40px;
            width: 176px;
            height: 44px;
        }
        .supernav_container {
            position: absolute;
            left: 200px;
            .menuitem {
                display: block;
                position: relative;
                padding-top: 45px;
                padding-left: 7px;
                padding-right: 7px;
                padding-bottom: 7px;
                line-height: 16px;
                float: left;
                color: #b8b6b4;
                text-transform: uppercase;
                &:hover {
                    color: white;
                    background-color: transparent;
                }
            }
            .menuitem:hover~.sub_dropdown,
            .sub_dropdown:hover {
                display: block;
            }
            #navbar .sub_dropdown {
                min-width: 25px;
                padding-right: 10px;
                background-color: $color;
                font-size: 11px;
                a {
                    color: #b8b6b4;
                    padding: 5px 15px;
                    &:hover {
                        color: white;
                        background-color: transparent;
                    }
                }
            }
        }
        .header_right {
            position: absolute;
            right: 0px;
            top: 6px;
            height: 21px;
            line-height: 21px;
            font-size: 11px;
            z-index: 1;
            .right_menu {
                line-height: 24px;
                vertical-align: top;
                display: inline-block;
                .install_btn {
                    vertical-align: middle;
                    display: inline-block;
                    position: relative;
                    height: 21px;
                    line-height: 21px;
                    margin-right: 3px;
                    .btn_leftcap {
                        background-image: url(../img/index/btn_header_installsteam_gray.png);
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 24px;
                        height: 20px;
                        background-position: 0px 0px;
                    }
                    .btn_rightcap {
                        background-image: url(../img/index/btn_header_installsteam_gray.png);
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        width: 1px;
                        height: 21px;
                    }
                    .btn_content {
                        background-image: url(../img/index/btn_header_installsteam_gray.png);
                        display: inline-block;
                        padding-left: 27px;
                        padding-right: 7px;
                        height: 21px;
                        line-height: 21px;
                        background-position: 0px -21px;
                        background-repeat: repeat-x;
                        text-decoration: none;
                        color: #e5e4dc;
                        font-weight: normal;
                        cursor: pointer;
                        &:hover {
                            color: white;
                        }
                    }
                }
                .btn-group {
                    .noti_btn {
                        padding: 0 8px;
                        border-radius: 0;
                        border: none;
                        background-color: #262625;
                        color: #b8b6b4;
                    }
                    .username_btn {
                        font-size: 11px;
                        background: transparent;
                        &:hover,
                        &:focus {
                            color: white;
                        }
                        &~.noti_dropdown li a {
                            color: #e5e4dc;
                            line-height: 25px;
                        }
                    }
                    .noti_dropdown {
                        left: auto;
                        right: 0;
                        border: 1px solid #82807c;
                        border-radius: 0;
                        background-color: #3b3938;
                        background-image: url(../img/index/bg_popup.png);
                        background-repeat: repeat-x;
                        background-position: top;
                        li a {
                            font-size: 13px;
                            line-height: 30px;
                            color: #bfbfbf;
                            &:hover {
                                background-color: #1b2838;
                            }
                        }
                    }
                }
                .wallet_ctn {
                    text-align: right;
                    padding-right: 15px;
                    font-size: 11px;
                    a {
                        padding: 0 4px;
                        text-decoration: none;
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
            .user_avatar {
                display: inline-block;
                margin-left: 3px;
                width: 35px;
                height: 35px;
                padding: 1px;
                background: linear-gradient( to bottom, rgba(106, 106, 106, 1) 5%, rgba(85, 85, 85, 1) 95%);
                img {
                    width: 32px;
                    height: 32px;
                    padding: 1px;
                    border: none;
                }
            }
        }
    }
}

@media only screen and (min-width:1518px) {
    header {
        .content {

        }
    }
}